---
layout: free-trial
title: Free Trial
description: "Try all GitLab features - free for 30 days"
extra_css:
  - pricing.css
  - free-trial.css
extra_js:
  - tabs.js
---

.gitlab-content.container
  .headline-container
    %h1.bold-headline.color-gray
      Try all GitLab features -
      %span.color-primary
        free for 30 days
    %p.margin-top10
      GitLab is more than just source code management or CI/CD. It is a full software development lifecycle & DevOps tool in a
      %span.text-bold
        single application.
    %h4.question
      How do you want to try GitLab?

.tab-container
  .tabs-wrapper
    %ul.pricing-tabs.container{ role: "tablist"}
      %li.active{ role: "presentation" }
        %a{ href: '#self-managed', "data-toggle" => "tab", "aria-controls" => "self-managed", role: "tab" }
          = partial "includes/icons/self-managed-icon.svg"
          .tab-info
            %p.tab-title Download & Install - GitLab Self-Managed
            %p Host your own instance on-premises or in the public cloud
      %li{ role: "presentation" }
        %a{ href: '#gitlab-com', "data-toggle" => "tab", "aria-controls" => "gitlab-com", role: "tab" }
          = partial "includes/icons/saas-cloud.svg"
          .tab-info
            %p.tab-title SaaS/Cloud - GitLab.com
            %p SaaS offering hosted by GitLab

  .tab-content
    .tab-pane.active#self-managed{ role: "tabpanel"}
      .container
        .tab-content
          %p
            Select this option if you want to
            %span.text-bold
              download and install GitLab
            on your own infrastructure or in our public cloud environment. Note: GitLab Self-Managed requires Linux experience to install.
          .form-container
            %p.font-small If you don't see the form, try temporarily disabling ad blockers.
            .centered-form
              %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
              %form#mktoForm_1318
              :javascript
                MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1318, function(form) {
                  form.onSuccess(function() {
                    form.getFormElem().hide();
                    $('.confirmform').attr('style', 'visibility: visible');
                    dataLayer.push({event: 'trial', mktoFormId: form.getId()});
                    return false;
                  });
                });
            .confirmform{ style: "visibility:hidden;" }
              %p Thanks for signing up for your free trial! You will get additional instructions in your inbox shortly.
        .tab-content
          .tile
            %h4.margin-top0
              Your free GitLab trial includes:
            %ul
              %li
                Source Code Management (SCM)
              %li
                Built-in CI/CD pipelines
              %li
                Issue Boards
              %li
                Agile portfolio management
              %li
                Code quality & performance testing
              %li
                WebIDE
              %li
                Maven Repository & NPM Registry
              %li
                Kubernetes configuration & deploy
              %li
                Logging, metrics, & monitoring
              %li
                Static & Dynamic Security Testing
              %li
                Dependency Scanning
              %li
                Container Scanning
              %li
                License management
            %p
              and more,
              %span.text-bold
                all in a single application.

    .tab-pane#gitlab-com{ role: "tabpanel" }
      .container
        .tab-content
          %p
            Select this option if you want to
            %span.text-bold
              quickly try the GitLab features & user experience
            and don't want to worry about downloading and installing it yourself.
          %ol
            %li
              %a{ href: "https://gitlab.com/users/sign_in#register-pane", target: "_blank" }
                Register for a GitLab.com Account
              or
              %a{ href: "https://gitlab.com/users/sign_in", target: "_blank" }
                Sign in
              if you already have an account
            %li
              Once you are signed-in, click the button below to start your trial
          %a.btn.cta-btn.orange.margin-top20.start-trial{ href: "https://customers.gitlab.com/trials/new?gl_com=true" }
            Start Your Trial
        .tab-content
          .tile
            %h4.margin-top0
              Your free GitLab trial includes:
            %ul
              %li
                Source Code Management (SCM)
              %li
                Built-in CI/CD pipelines
              %li
                Issue Boards
              %li
                Agile portfolio management
              %li
                Code quality & performance testing
              %li
                WebIDE
              %li
                Maven Repository & NPM Registry
              %li
                Kubernetes configuration & deploy
              %li
                Logging, metrics, & monitoring
              %li
                Static & Dynamic Security Testing
              %li
                Dependency Scanning
              %li
                Container Scanning
              %li
                License management
            %p
              and more,
              %span.text-bold
                all in a single application.

= partial "includes/home/customer-logos-transparent"
= partial "includes/layout/footer-blank"
